$corDeFundo: #15212a; //variavel da cor de fundo
$corTextoPrincipal: silver; //variavel
$corTextoSecundario: #f9f9f9; //variavel da cor do texto secundario
$corDeFundoBotaoPrimario: red;
$corDeFundoBotaoSecundario: #bf2e22;
$corDeFundoBotaoDark: #000;